@use '../../styles/variables' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  position: relative;
  width: 650px;
  min-width: 300px;
  max-height: 90vh;
  background-color: $color-white;
  padding: 24px;
  margin: auto;
  transform: translateY(-10%);
  overflow-y: auto;
  box-shadow: $shadow-lg;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  color: #666;

  &:hover {
      color: #333;
  }
}

.modal-content {
  margin-bottom: 40px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
}

.button {
  padding: 8px 16px;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: 500;
  min-width: 100px;
}

.primary-button {
  background-color: $color-nordic;
  color: $text-color-snow-white;

  &:hover {
      background-color: #04636D;
  }
}

.secondary-button {
  background-color: $color-white;
  color: $text-color-pot-black;

  &:hover {
      background-color: #04636D;
  }
}